asciitree==0.3.3
fasteners==0.19
numcodecs==0.13.1
numpy==2.2.4
packaging==24.2
pandas==2.2.3
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
tzdata==2025.2
xarray==2025.3.1
zarr==2.18.3
netCDF4==1.7.2
dask[array]==2024.10.0 
dask[dataframe]==2024.10.0 
dask[delayed]==2024.10.0 
dask[distributed]==2024.10.0 

